@CHARSET "UTF-8";

.start-text{
	font-size: 15px; 
	font-weight: bold; 
	display: inline
}

.start-input{
	width: 50px;
	text-align: right
}

.interval-text{
	font-size: 15px; 
	font-weight: bold;
	margin-left: 20px; 
	display: inline;
}

.interval-input{
	width: 50px;
	text-align: right; 
}

.joseph-submit-bt{
	margin-left: 20px;
}

.body-background{
	background-image: url(../imag/background02.jpg);
	background-position:-160px -80px;
	background-repeat: no-repeat; 
}

.div-background{
	width:860px;
	height: 600px;
	background: #fff;
	background-color:rgba(255, 255, 255, 0.3); 
	margin-top:150px;
	margin-left:200px; 
}

.li-title{
	font-size: 35px;
	font-weight:500;
	font-family:Arial;
	color:#fff;
}

.li-input{
	margin-top:20px;
}

.li-buttons{
	height:30px;
	width:320px;
	margin-top:20px;
}

.li-inputfield{
	margin-top:20px;
}

.ul-input{
	padding-top:50px;
	list-style-type:none;
}

.ul-result{
	list-style-type:none;
	position:absolute;
	left:660px;
	top:203px;
}

.label-tag{
	color:#fff;
	font-size: 20px;
	font-weight:bold;
	font-family:Arial;
	text-align:left;
	display:inline-block;
	width:120px;
}

.button-lable-option{
	display:block;
	background:#fff;
	font-family:Arial;
	padding-top:5px;
	padding-bottom:5px;
	font-size: 13px;
	border:0px;
	width:100%;
	margin:0px auto;
}

.div-option{
	width:100px;
	height:125px;
	background:#fff;
	text-align:ceter;
	margin-left:165px;
	margin-top:0px;
	display:none;
	position:relative;
	z-index:99;
	border:1px solid #DEDEDE;
}

.label-names-tag{
	color:#fff;
	font-size: 20px;
	font-weight:bold;
	font-family:Arial;
	text-align:left;
	display:inline-block;
	width:120px;
	height:30px;
	float:left; 
	margin-top:5px;
}

.li-input-field{
	height:30px;
	width:250px;
	margin-top:20px;
}

.li-for-name{
	height:36px;
	width:250px;
	margin-top:0px;
	margin-left:-12px;
}

.label-name{
	display:block;
	background: #fff;
	border-style:solid;
	border-color:#E6E6FA;
	height:30px;
	width:228px;
	padding-left:10px;
	padding-right:10px;
	margin-left:13px;
	font-size:20px;
	font-family:Arial;
}

.input-text{
	background: #fff;
	border-style:solid;
	border-color:#E6E6FA;
	height:30px;
	width:250px;
	margin-left:10px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:Arial;
}

.p-result{
	display:inline-block;
	background: #fff;
	border:0.2;
	border-style:solid;
	border-color:#E6E6FA;
	height:27px;
	width:200px;
	margin-left:-30px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	font-size:20px;
	font-family:Arial;
}

.button-append{
	height:30px;
	width:110px;
	font-weight: bold;
	font-family:Arial;
	background-color:#EEEE00;
	border:0px;
	margin-left:13px;
}

.button-clear{
	height:30px;
	width:110px;
	font-weight: bold;
	font-family:Arial;
	background-color:#EEEE00;
	margin-left:53px;
	border:0px;
}

.submit-newjoseph{
	height:30px;
	width:80px;
	font-weight: bold;
	font-family:Arial;
	background-color:#EEEE00;
	margin-left:240px;
	margin-top:-20px;
	border:0px;
}

.div-circle{
	height:30px;
	width:250px;
	margin-left:10px;
	display:inline-block;
}

.div-input-buttons{
	height:30px;
	width:320px;
	float:right;
	margin-top:20px;
	margin-right:380px;
}

.div-append-clear{
	height:30px;
	width:320px;
	margin-top:10px;
}

.input-circle{
	background: #fff;
	border-style:solid;
	border-color:#E6E6FA;
	height:30px;
	width:250px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:Arial;
}

.div-dropdown{
	background-color:#fff;
	display:none;
	width:274px;
	height:205px;
	position:absolute;
	top:347px;
	left:242px;
	overflow-y:scroll;
}

.div-circle:hover .div-dropdown{
	display:block;
}
	
.ol-name{
	padding-left:0px;
	align:left;
	list-style-type:none;
	display:inline-block;
	width:272px;
	height:220px;
	margin-left:14px;
	background:#fff;
	overflow-y:scroll;
}

.li-inline-name{
	width:232px;
	height:30px;
	display:inline;
}

.li-name{
	width:232px;
	height:30px;
}

.input-name{
	width:100%;
	height:100%;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:Arial;
}

.input-name-field{
	background: #fff;
	border-style:solid;
	border-color:#E6E6FA;
	height:30px;
	width:252px;
	margin-left:13px;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	font-family:Arial;
	display:none;
}
	