<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	   	  	   	
	<bean id="controllerMethodTime" class="org.harvey.solve.timelog.ControllerMethodTime"/>
   	
   	<bean id="serviceMethodTime" class="org.harvey.solve.timelog.ServiceMethodTime"/>
   	
   	<bean id="businessMethodTime" class="org.harvey.solve.timelog.BusinessMethodTime"/>
    
    <bean id="fibonacciRequestCheckerService" class="org.harvey.solve.service.impl.FibonacciRequestCheckerServiceImpl"/>
    
    <bean id="fibonacciProblemSolverService" class="org.harvey.solve.service.impl.FibonacciProblemSolverServiceImpl"/>
	
	<bean id="josephRequestCheckerService" class="org.harvey.solve.service.impl.JosephRequestCheckerServiceImpl"/>
	
	<bean id="josephProblemSolverService" class="org.harvey.solve.service.impl.JosephProblemSolverServiceImpl"/>
	
	<bean id="fibonacciProblemSolverBusiness" class="org.harvey.solve.business.impl.FibonacciProblemSolverBusinessImpl">
		<property name="fibonacciProblemSolverService" ref="fibonacciProblemSolverService"></property>
	</bean>	
	
	<bean id="fibonacciRequestCheckerBusiness" class="org.harvey.solve.business.impl.FibonacciRequestCheckerBusinessImpl">
		<property name="fibonacciRequestCheckerService" ref="fibonacciRequestCheckerService"></property>
	</bean>	
	
	<bean id="josephProblemSolverBusiness" class="org.harvey.solve.business.impl.JosephProblemSolverBusinessImpl">
		<property name="josephProblemSolverService" ref="josephProblemSolverService"></property>
	</bean>	
	
	<bean id="josephRequestCheckerBusiness" class="org.harvey.solve.business.impl.JosephRequestCheckerBusinessImpl">
		<property name="josephRequestCheckerService" ref="josephRequestCheckerService"></property>	
	</bean>	 	
	
	<aop:aspectj-autoproxy/>     

   	<aop:config>
   		<aop:pointcut expression="execution(* org.harvey.solve.service.impl.*.*(..))" id="serviceTimeLogPoint"/>
   		<aop:pointcut expression="execution(* org.harvey.solve.controller.*.*(..))" id="controllerTimeLogPoint"/>
   		
   		<aop:aspect ref="serviceMethodTime">
         
        	<aop:before method="showEnterTime" pointcut-ref="serviceTimeLogPoint" />
         
        	<aop:after-returning method="showExitTime" pointcut-ref="serviceTimeLogPoint"/>
        
        </aop:aspect>
        
        <aop:aspect ref="controllerMethodTime">
         
        	<aop:before method="showEnterTime" pointcut-ref="controllerTimeLogPoint" />
         
        	<aop:after-returning method="showExitTime" pointcut-ref="controllerTimeLogPoint"/>
        
        </aop:aspect>
   	</aop:config>
</beans>